* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #333;
  padding: 50px;
}
.note {
  height: 250px;
  width: 250px;
  background-color: #fff;
  padding: 5px;
}
.inner {
  width: 240px;
  height: 240px;
  background: linear-gradient(#ff0000, #aa0000);
  transform: rotate(-1deg);
}
